.component {
    display: block;
    background-color: rgb(63 81 181 / 20%);
    padding: 10px 15px;
    cursor: pointer;
    transition: opacity .2s;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .component:hover,
  .component:focus {
    opacity: .6;
  }
  
  .input {
    display: none;
  }
  .input:checked ~ .component {
    background-color: rgb(60, 97, 184);
    opacity: 1;
  } 